html, body {
  box-sizing: border-box;
  background-color: #3b4652;
  font-family: sans-serif;
  color: #88919b;
  font-size: 13px;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.content {
  height: 23rem;
  width: 31.5rem;
}

.card {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 18rem;
  background-color: #f7f7f5;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}
.card.back {
  align-items: stretch;
}

.card-head {
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  height: 66%;
  padding-bottom: 1rem;
}

.card-name {
  max-width: 100%;
  width: 325px;
  height: 51px;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}

.card-title,
.card-subtitle {
  max-width: 21rem;
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  text-transform: uppercase;
  color: #dc281e;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card-title:before,
.card-title:after,
.card-subtitle:before,
.card-subtitle:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #dc281e;
  width: 11px;
  height: 11px;
  margin-top: 2px;
}
.card-title:before,
.card-subtitle:before {
  left: 0;
}
.card-title:after,
.card-subtitle:after {
  right: 0;
}
.card-subtitle {
  text-align: right;
}
.card-title {
  max-width: 29rem;
}

.card-body {
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.card-body p {
  margin: 0;
  margin-bottom: 0.75rem;
  letter-spacing: 0.5px;
}
.card-body p:last-child {
  margin-bottom: 0;
}

.card-body a {
  color: #88919b;
}


.links {
  margin: auto;
  padding-top: 2rem;
  max-width: 31.5rem;
}


.links-link {
  text-decoration: none;
  color: #88919b;
}
.links-link:hover {
  text-decoration: underline;
}
.links-link:not(:last-child):after {
  content: '\2022';
  text-align: center;
  width: 1em;
  display: inline-block;
}

.flipper {
  position: relative;
  perspective: 1000px;
  outline: 0;
  height: 18rem;
}

.flipper .front,
.flipper .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 1s;
}
.flipper .front {
  cursor: pointer;
  transform: rotateY(0deg);
}
.flipper.flipped .front {
  transform: rotateY(-180deg);
}
.flipper .back {
  transform: rotateY(180deg);
}
.flipper.flipped .back {
  transform: rotateY(0deg);
}

#Remi {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1s linear forwards;
}
#dot {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: dash .2s linear 1s forwards;
}
#Shergold {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 2s linear 1.2s forwards;
  -webkit-animation: dash 2s linear 1.2s forwards;
}

.fadein {
  opacity: 0;
  animation: fadein .5s linear 3.2s forwards;
  -webkit-animation: fadein .5s linear 3.2s forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fadein {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  to {
    opacity: 1;
  }
}


@media (pointer: coarse) {
  .flipper .front,
  .flipper .back {
    transition: transform 0.2s;
  }
}
